.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  height: 25vh;
}

.dog-box {
  height: 50vh;
}

.dog-name {
  height: 40px;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 50%;
}

.many-dog-section {
  height: 300px;
}

.show {
  transition: opacity 0.5s;
  opacity: 1;
}
.hide {
  opacity: 0;
}

#root {
  background-color: white;
}
