.multichoice-dog {
    height: 300px;
}

.answer-area {
    height: 70px;
}

.score-text {
    font-size: 3em;
    font-weight: bolder;
}

.btn-primary {
    background-color: #BF8F65;
}
.btn-success {
    background-color: #262621;
}
.btn-warning {
    background-color: #A6948D;
}