.multichoice-dog {
    max-width: 100%;
    height: 300px;

}

.answer-area {
    height: 70px;
}

.score-text {
    font-size: 4vw;
    font-weight: bolder;
    white-space: nowrap;
}

.reset-btn {
    white-space: nowrap;
    background-color: #A6948D;
    color: white;
}

.dog-img-bg {
    background: black;
}

.btn-primary {
    background-color: #BF8F65;
}
.btn-success {
    background-color: #262621;
}
.btn-warning {
    background-color: #A6948D;
}

.blink-me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }